fastapi
uvicorn
python-multipart
pydantic
python-dotenv
groq
deepgram-sdk
langgraph
langchain
langchain-groq
duckduckgo-search
langchain-google-genai
mediapipe
opencv-python-headless
transformers
torch
accelerate
qwen-vl-utils
decord
torchvision
elevenlabs
gTTS
langchain-openai
